html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
display: block;
}

.robot {
  width: 320px;
  display: block;
  margin: 0;
  position: relative;
}

.robot-body {
  width: 320px;
  position: relative;
  top: 60px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 70px;
  left: 135px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  top: 20px;
  left: 160px;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  top: 20px;
  left: 35px;
}
